[user]
	email = frederick.tyteca@actualgroup.com
	name = frederick tyteca
[pager]
	branch = false
[core]
	pager = cat
	excludesfile = /home/fred/.gitignore
[safe]
	directory = /home/fred/Projects/podmytube
	directory = /home/fred/Projects/lucie
	directory = /home/fred/Projects/jefaismescomptes
	directory = /home/fred/Projects/rss-bot
	directory = /home/fred/Projects/nina
	directory = /home/fred/Projects/sogedep-om-manager
	directory = /home/fred/Projects/figures
	directory = /home/fred/Projects/gnomelab
	directory = /home/fred/Projects/gnomelab
	directory = /home/fred/Projects/gnomelab
	directory = /home/fred/Projects/gloove
	directory = /home/fred/Projects/scud
	directory = /home/fred/Projects/scud/front
	directory = /home/fred/Projects/xtrackerx
	directory = /home/fred/Projects/vera
[pull]
	rebase = false
[init]
	defaultBranch = main
[credential]
	helper = store
[credential "https://github.com"]
	username = ftytecaActual
[credential "https://api.github.com"]
	username = ftytecaActual
[alias]
	gone = "!git fetch -p && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs -r git branch -d"
[push]
	autoSetupRemote = true
