[user]
	email = frederick@tyteca.net
	name = frederick tyteca
[pager]
	branch = false
[core]
	pager = cat
	excludesfile = /home/fred/.gitignore
[safe]
	directory = /home/fred/Projects/podmytube
	directory = /home/fred/Projects/lucie
	directory = /home/fred/Projects/jefaismescomptes
	directory = /home/fred/Projects/rss-bot
	directory = /home/fred/Projects/nina
	directory = /home/fred/Projects/sogedep-om-manager
	directory = /home/fred/Projects/figures
	directory = /home/fred/Projects/gnomelab
[pull]
	rebase = false
[init]
	defaultBranch = main
[credential]
	helper = store
[credential "https://github.com"]
	username = ftytecaActual
[credential "https://api.github.com"]
	username = ftytecaActual
